<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @product.id %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @product.desc %>
</p>

<p>
  <b>Sub category:</b>
  <%= @product.sub_category %>
</p>

<p>
  <b>Production date:</b>
  <%= @product.production_date %>
</p>

<p>
  <b>Exp date:</b>
  <%= @product.exp_date %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
